.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.spacer {
  flex: 1 1 auto;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

a:hover {
  color: #6ed6ff;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
}

.navbar-nav li {
  margin-right: 20px;
}

.navbar-nav li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.navbar-nav li a:hover {
  color: #6ed6ff;
}

