
<mat-toolbar class="toolbar" role="banner">
    <mat-icon>score</mat-icon>

    <a mat-button routerLink="home">Home</a>

    <div class="spacer"></div>

    <!-- <div class="navbar-nav">
      <a mat-button routerLink="tramite1">Tramite 1</a>
      <a mat-button routerLink="tramite2">Tramite 2</a>
      <a mat-button routerLink="tramite3">Tramite 3</a>
      <a mat-raised-button color="warn" routerLink="tramite1">Inicia Sesion</a>
    </div> -->

    <ul class="navbar-nav">
      <li><a mat-button routerLink="tramites">Tramites</a></li>
      <li><a mat-button routerLink="tramite1">Tramite 1</a></li>
      <li><a mat-button routerLink="tramite2">Tramite 2</a></li>
      <li><a mat-button routerLink="tramite3">Tramite 3</a></li>
      <li><a mat-raised-button color="warn" routerLink="tramite1">Inicia Sesion</a></li>
    </ul>
  </mat-toolbar>

